.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section {
  padding-block: 30px 50px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 15px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}
.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}
.header {
  position: relative;
  background: linear-gradient(170deg, #0896a0, #02554c);
  padding-block: 30px;
}
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
}
